.container{
    width: 34vw;
    padding: 0.5vw 0.5vw ;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: vw;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.1);
}
.btn{
    border: none;
    padding: 7px 12px;
    border-radius: 4px;
    background-color: white;
}
.btn:hover{
    background-color: #E94B3F;
    cursor: pointer;
    color: white;
}
.item{
    font-size: 3vh;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.completed{
    text-decoration: line-through;
}
@media (max-width: 600px) {
    .container {
        width: 80vw; 
        padding: 2vw;
    }

    .modernInput {
        margin-right: 0; 
        margin-bottom: 1vw; 
        font-size: 14px;
    }

    .modernbutton {
        padding: 10px 12px; 
        font-size: 14px;
    }
    .btn{
         background-color: #E94B3F;
         color: white;
    }
}
